<div class="bg-image"></div>
<div class="container">
  <!-- section title -->
  <div class="header_title">
    <div>
      <h1>Sprawdź, co jesz!</h1>
    </div>
  </div>
  <!-- section food name -->
  <div class="food_div">
    <div class="left" style="width: 50%;height: 150px; float:left">
      <form [formGroup]="foodSearchForm" (ngSubmit)="checkFood()">
        <div class="form-group">
          <div class="input-group">
            <input id="form_input" type="text" class="form-control" placeholder="Wprowadź nazwę produktu..." formControlName="food" style="float: left"/>
              <button mat-raised-button id="check-food" class="btn btn-primary" (click)="toggleDiv()" type="submit" color="warn">
                Wyszukaj...
              </button>
          </div>
        </div>
      </form>
   </div>
   
   <div class="right" style="width: 50%;height: 150px; float:left;">
    All you need is love. But a little chocolate now and then doesn't hurt.
    ― Charles M. Schulz
   </div>
  </div>
  <div [hidden]="isShowDiv" class="fiszki">
    <mat-table class="table table-striped table-responsive-md btn-table">
      <tbody class="food_table" *ngFor="let food of foodData?.products">
        <tr mat-row>
          <td>{{food.product_name}}</td>
          <td><img src="{{food.image_front_url}}" (click)="openDialog({food})" alt="Brak zdjęcia"/></td>
        </tr>
      </tbody>
    </mat-table>
  </div>  
</div>



