body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/375897/pexels-photo-375897.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    
  }
  
  
  .container {
    background-color: rgb(243, 45, 38); /* Fallback color */
    background-color: rgba(253, 6, 6, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
    width: 60%;
    height: auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
    box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
  
  }
  
  .fiszki {
  
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
  }
  
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  
  mat-table {
    width: 100%;
    overflow: auto;
    height: 100%;
  }
  .food_div {
    width: 100%;
    padding: 50px;
  }
  
  .input-group {
    float: left;
  }
  
  
  .left {
    border-right: 5px solid rgba(193, 193, 202, 0.295);
  }
  
  .header_title {
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(.9);
    border-bottom: 3px solid #333;
  }
  
  .header_title, h1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  
  
  table, th, td{
    border: 3px solid red;
    width: 400px;
    text-align: center;
  }
  table, th {
    border: 3px solid black;
  }
  
  .food_table tr td img{
    width: 300px;
    height: 100%;
  }
  td {
    width: 300px;
    height: 180px;
  }
  
  .food_table tr td img:hover{
    cursor: pointer;
    -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  
  .food-group {
    display:inline;
  }
  
  input, button{
    vertical-align:middle;
  }
  
  input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  input[type=text]:focus {
    border-color:#333;
  }
  